.child-info-component{
	height: 550px;
}
.infoComponent{
	width: 700px
}
.numberComponentFieldSet{
	width:96.5%
}
.motobikeNumberPlate{
	 margin-left: 240px
}
.motobikeNumberPlateText{
	 font-size:xx-large;
}